$green-color: #01D167;
$white: #ffffff;
$black: #000000;
$black-two: #222222;
$blue-color: #23CEFD;
$standard: 24px;
$dark-blue: #0C365A;
$light-blue: #EDF3FF;
$new-blue: #325BAF;
$gray: #F5F5F5;
$gray-a: #AAAAAA;
$light-white: #FAFCFF;
$shadow-black: #0000000A;
$circle-blue: #009DFF1A;